* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

.header {
  background: linear-gradient(to right, #672280, #A626D3);
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  box-shadow: 0 1px 5px black;
  width: 100%;
}

.logo {
  width: 2rem;
}

.title {
  font-size: 1.25rem;
  color: #fff;
}

.main-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  width: 480px;
  margin: 0 auto;
}

.top-text-container,
.bottom-text-container {
  display: flex;
  flex-direction: column;
}

.top-text-input,
.bottom-text-input {
  margin-top: 5px;
  height: 32px;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  text-indent: 10px;
}

.get-image-button {
  grid-column: 1 / -1;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #672280, #A626D3);
  font-size: 1.2rem;
  font-weight: bold;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-image {
  width: 480px;
}

.top,
.bottom {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

@media screen and (max-width: 550px) {
  .form,
  .meme-image {
    width: 360px;
  }
  
  .top,
  .bottom {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 420px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .form,
  .get-image-button,
  .meme-image {
    width: 300px;
  }

  .get-image-button {
    width: 3
  }

  .top,
  .bottom {
    font-size: 1.2rem;
  }
}